body{
  background-color: #212121;
}

#keys{
    height: 116px;
    width: 672px;
    padding-left: 30px;
    padding-top: 50px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#notas{
    height: 200px;
    width: 672px;
    padding-left:55px;
    padding-top: 50px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    word-spacing: 67px;
}

.subtitle {
  text-align:center;
  color:white;
  font-family: 'Amaranth', sans-serif;
  font-size: 15px;
  margin-top:60px;
}
.subtitle2 {
  text-align:center;
  color:white;
  font-family: 'Amaranth', sans-serif;
  font-size: 15px;
  margin-top:20px;
}
.subtitle span {
  border-bottom: 2.5px white solid;
}

p{
  color:white;
}

h1{
    font-family: 'Amaranth', sans-serif;
    color:white;
    text-align:center;
    margin-top:50px;
    
}

.box {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    float:left;
  border-radius: 10px;
  display: block;
  -webkit-transition: all .15s ease-out; 
  transition: all .15s ease-out;
}
#a {
    cursor: default;
    background-color: #E040FB;
    box-shadow: 0px 6px 0px #AA00FF;
} 

#s {
    background-color: #7C4DFF;
    box-shadow: 0px 6px 0px #6200EA;
}

#d {
    background-color: #448AFF;
    box-shadow: 0px 6px 0px #2962FF;
}

#f {
    background-color: #9CCC65;
    box-shadow: 0px 6px 0px #2E7D32;
}

#g {
    background-color: #FFF176;
    box-shadow: 0px 6px 0px #FFD600;
}

#h {
    background-color: #FFB74D;
    box-shadow: 0px 6px 0px #FF9100;
}

#j {
    background-color: #FF7043;
    box-shadow: 0px 6px 0px #F4511E;
}


.box.active {
  box-shadow: none;
  margin-top: 5px;
}

#a.active {
  background-color: #AA00FF;
}

#s.active {
  background-color: #6200EA;
}

#d.active {
  background-color: #2962FF;
}

#f.active {
  background-color: #2E7D32;
}

#g.active {
  background-color: #FFD600;
}

#h.active {
  background-color: #FF9100;
}

#j.active {
  background-color: #F4511E;
}
